
<p-toast></p-toast> <!-- PrimeNG Toast for messages -->

<!----> <p-toolbar styleClass="mb-4">
   
    <ng-template #start> 
        <p-button  label="New Question" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" 
        *ngxPermissionsOnly="['question.create',]"
                                                           
        />
    
    </ng-template>

    <ng-template #end>
        <p-button label="Export CSV" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar> 

<!-- PrimeNG Table for User Listing -->
<p-table #dt 
    [value]="(questions$ | async) ?? []"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['questionText','correctAnswer','topic.topicName']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedUsers"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} questions"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Courses</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>

    <ng-template #header>
        <tr>
            <th pSortableColumn="id" style="min-width: 0.1rem">
                    
                <!-- <p-sortIcon field="id" /> -->
            </th>
            <th pSortableColumn="questionText" style="max-width: 2rem">
                Question Text    
                <p-sortIcon field="questionText" />
            </th>
           
            <th pSortableColumn="role" style="min-width: 5rem">
                questionTypeName
                <p-sortIcon field="questionTypeName" />
            </th>
           
            <th pSortableColumn="role" style="min-width: 5rem">
                questionCategoryName
                <p-sortIcon field="questionCategoryName" />
            </th>
            <!-- <th pSortableColumn="role" style="min-width: 5rem">
                topicName
                <p-sortIcon field="topicName" />
            </th> -->
            <th pSortableColumn="role" style="min-width: .5rem">
          
          
            </th>
            <th pSortableColumn="role" style="min-width: .5rem">
          
          
            </th>
        </tr>
    </ng-template>

    <ng-template #body let-question>
        <tr>
          
            <!-- <td>{{course.id}}</td>    -->
           <td><span *ngIf="question.tenantId==='hygienicflow'"><i  class="pi pi-globe"></i></span></td>
           <td>{{question.questionText.substring(0,70)}}</td>
           <td>{{question.questionTypeName}}</td>
            <td>{{question.questionCategoryName}}</td> 
            <!-- <td>{{question.topic.topicName}}</td> -->
            <td *ngIf="question.tenantId!=='hygienicflow'">
                <span *ngIf="authService.getUserId()==question.createdByUserId">.</span>
                  <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"  (click)="editQuestion(question)" *ngIf="(question.canEdit$|async)"></p-button>
                <p-button  icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"  [disabled]="true"        *ngIf="!(question.canEdit$|async)"></p-button>
             
                <p-button  icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" *ngIf="(question.canDelete$|async)" (click)="deleteQuestion(question)" />
                <p-button  icon="pi pi-trash" class="mr-2" [rounded]="true" [outlined]="true"     *ngIf="!(question.canDelete$|async)" [disabled]="true"></p-button>
           </td> 
           <td *ngIf="question.tenantId==='hygienicflow' && question.canMerge">
            <p-button  icon="pi pi-clone" class="mr-2" [rounded]="true" [outlined]="true" pTooltip="Merge From Question Bank" (click)="mergeFromQbank(question)"></p-button>
           </td>
        </tr>
    </ng-template>
</p-table>

<div *ngIf="model.questionTypeName">questionTypeName:{{model.questionTypeName}}</div>
<p-confirmDialog></p-confirmDialog> 

 <!-- Dialog for User Details (Create/Edit Form) --> <!--width: '450px' -->

 <p-dialog [(visible)]="questionDialog" [style]="{ width: '850px' }" [header]="dialogHeader" [modal]="true">

    <!--purposelynot kept inside ng-template-->
    <ng-template #content  ></ng-template>

      <form [formGroup]="form" (ngSubmit)="onSubmit()"><!--(ngSubmit)="saveUser()"-->
    <formly-form [form]="form" [fields]="(formFields | async) ?? []" [model]="model"></formly-form>
    
    <div></div>
    <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
     <p-button type="submit">Submit</p-button>
     </form>  
                    
    <!-- <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" (click)="saveUser()"  icon="pi pi-check" /> 
    </ng-template> -->


</p-dialog>