
<p-toast></p-toast> <!-- PrimeNG Toast for messages -->

<p-toolbar styleClass="mb-4">
   
    <ng-template #start> 
        <p-button  label="New CourseOffering" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" 
        *ngxPermissionsOnly="['courseoffering.create',]"
                                                           
        />
        <!-- <p-button  severity="danger" label="Delete Selected" icon="pi pi-trash" outlined (onClick)="deleteSelectedUsers()"
            [disabled]="!selectedUsers || !selectedUsers.length" /> -->
    </ng-template>

    <ng-template #end>
        <p-button label="Export CSV" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>

<!-- PrimeNG Table for User Listing -->
<p-table #dt 
    [value]="(courseoffers$ | async) ?? []"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['userName', 'displayName', 'role', 'tenantId']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedUsers"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} users"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Course Offerings</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>

    <ng-template #header>
        <tr>
           
            <th pSortableColumn="Course" style="min-width: 5rem">
                Course    
                <p-sortIcon field="courseId" />
            </th>
           
            <th pSortableColumn="facultyProfileId" style="min-width: 5rem">
                Faculty
                <p-sortIcon field="facultyProfileId" />
            </th>
           
            <th pSortableColumn="offeringName" style="min-width: 5rem">
                offeringName
                <p-sortIcon field="offeringName" />
            </th>

            <th pSortableColumn="schedule" style="min-width: 5rem">
                schedule    
                <p-sortIcon field="schedule" />
            </th>
           
            <th pSortableColumn="location" style="min-width: 5rem">
                location
                <p-sortIcon field="location" />
            </th>
           
            <th pSortableColumn="enrolledStudentsCount" style="min-width: 5rem">
                enrolledStudentsCount
                <p-sortIcon field="enrolledStudentsCount" />
            </th>
        </tr>
    </ng-template>

    <ng-template #body let-coffering>
      
        <tr>
            <td>{{coffering.course.courseName}}</td>
            <td>{{coffering.faculty.person.firstName }}</td>            
            <td>{{coffering.offeringName}}</td>
            <td>{{coffering.schedule}}</td>
            <td>{{coffering.location}}</td>            
            <td>{{coffering.enrolledStudentsCount}}</td>
            <td>
                <span *ngIf="authService.getUserId()==coffering.createdByUserId">.</span>
                <p-button  icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"  (click)="editCourseOffering(coffering)" *ngIf="(coffering.canEdit$|async)"></p-button>
              <p-button  icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"  [disabled]="true"        *ngIf="!(coffering.canEdit$|async)"></p-button>
             
              <p-button  icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" *ngIf="(coffering.canDelete$|async)" (click)="deleteCourseOffering(coffering)" />
              <p-button  icon="pi pi-trash" class="mr-2" [rounded]="true" [outlined]="true"     *ngIf="!(coffering.canDelete$|async)" [disabled]="true"></p-button>
       
            </td>
        </tr>
        <!-- <tr>
          
           
            <td>{{subject.subjectCode}}</td>
            <td>{{subject.subjectName}}</td> 
            <td>{{subject.isActive}}</td>
           
           
            <td>
                <span *ngIf="authService.getUserId()==coffering.createdByUserId">.</span>
                  <p-button  icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"  (click)="editCourseOffering(coffering)" *ngIf="(coffering.canEdit$|async)"></p-button>
                <p-button  icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"  [disabled]="true"        *ngIf="!(coffering.canEdit$|async)"></p-button>
             
                <p-button  icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" *ngIf="(coffering.canDelete$|async)" (click)="deleteCourseOffering(coffering)" />
                <p-button  icon="pi pi-trash" class="mr-2" [rounded]="true" [outlined]="true"     *ngIf="!(coffering.canDelete$|async)" [disabled]="true"></p-button>
           </td>
        </tr> -->
    </ng-template>
</p-table>


<p-confirmDialog></p-confirmDialog> 

 <!-- Dialog for User Details (Create/Edit Form) --> <!--width: '450px' -->
 <p-dialog [(visible)]="courseofferDialog" [style]="{ width: '850px' }" [header]="dialogHeader" [modal]="true">

    <!--purposelynot kept inside ng-template-->
    <ng-template #content  ></ng-template>

      <form [formGroup]="form" (ngSubmit)="onSubmit()"><!--(ngSubmit)="saveUser()"-->
    <formly-form [form]="form" [fields]="(formFields | async) ?? []" [model]="model"></formly-form>
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    aaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <div></div>
    <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
     <p-button type="submit">Submit</p-button>
     </form>  
                    
    <!-- <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" (click)="saveUser()"  icon="pi pi-check" /> 
    </ng-template> -->


</p-dialog>


