

<app-tenant-kanban-card [tenant]="tenant"></app-tenant-kanban-card>
  <app-button-tabs [options]="myTabConfig">
  
    <ng-template appTab="TenantStrategy">
          <app-tenant-strategies [tenantId]='tenantId'></app-tenant-strategies>
    </ng-template> 
    
    
    <ng-template appTab="DiscountType">
          <app-discount-type [tenantId]='tenantId'></app-discount-type>
    </ng-template> 
    
    <ng-template appTab="Junction">
      <app-permission-junction [tenantId]='tenantId'></app-permission-junction>
    </ng-template>
    
      
  <ng-template appTab="FormJSONs">
      <app-form-jsons [tenantId]='tenantId'></app-form-jsons>
    </ng-template>

     <ng-template appTab="FormJSONBackUps">

        <ng-container *ngIf="tenantId == 1; else nobackup">
       <app-gharana-form-jsonback-ups></app-gharana-form-jsonback-ups>
        </ng-container>

        <ng-template #nobackup>
          U need to create component to keep formJSONs for this tenant
        </ng-template>
    </ng-template> 
</app-button-tabs>