 <!-- Use p-select or p-dropdown depending on your exact PrimeNG 19 subversion -->
<!--<div class="w-full min-w-[200px]" style="display: block; width: 100%;">
  

  <div class="w-full min-w-[200px]" style="display: block; width: 100%;">
 
  <p-select
    [formControl]="formControl"
    [formlyAttributes]="field"
    [options]="localOptions"
    [optionLabel]="props['optionLabel'] || 'label'"
    [optionValue]="props['optionValue'] || 'value'"
    [placeholder]="props['placeholder'] || 'Select Category'"
    [filter]="props['filter']"
    [style]="{'width':'100%'}"
    (onChange)="onUserDropdownClick($event)">
  </p-select>
</div>

</div>-->
 <label>its label in custom cntrl</label>