
<div class="field">
      <label *ngIf="props.label" [attr.for]="id" class="block font-medium mb-1">
        {{ props.label }} <span *ngIf="props.required" class="text-red-500">*</span>
      </label>
      
      <!-- Native PrimeNG v18 element -->
      <p-datepicker
        [id]="id"
        [formControl]="formControl"
        [formControlName]="key.toString()"
        [placeholder]="props.placeholder || ''"
        [showIcon]="props['showIcon'] !== false"
        [dateFormat]="props['dateFormat'] || 'mm/dd/yy'"
        [minDate]="props['minDate']"
        [maxDate]="props['maxDate']"
        class="w-full">
      </p-datepicker>
    </div>