<p-toast></p-toast> <!-- PrimeNG Toast for messages -->

<p-toolbar styleClass="mb-4">
   
    <ng-template #start> 
        <p-button  label="New Subject" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" 
        *ngxPermissionsOnly="['subject.create',]"
                                                           
        />
        <!-- <p-button  severity="danger" label="Delete Selected" icon="pi pi-trash" outlined (onClick)="deleteSelectedUsers()"
            [disabled]="!selectedUsers || !selectedUsers.length" /> -->
    </ng-template>

    <ng-template #end>
        <p-button label="Export CSV" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>
<!-- PrimeNG Table for User Listing -->
<p-table #dt 
    [value]="(subjects$ | async) ?? []"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['userName', 'displayName', 'role', 'tenantId']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedUsers"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} users"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Subjects</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>

    <ng-template #header>
        <tr>
           
            <th pSortableColumn="subjectCode" style="min-width: 5rem">
                subjectCode    
                <p-sortIcon field="subjectCode" />
            </th>
           
            <th pSortableColumn="role" style="min-width: 5rem">
                subjectName
                <p-sortIcon field="subjectName" />
            </th>
           
            <th pSortableColumn="description" style="min-width: 5rem">
                description
                <p-sortIcon field="description" />
            </th>
        </tr>
    </ng-template>

    <ng-template #body let-subject>
        <tr>
          
           
            <td>{{subject.subjectCode}}</td>
            <td>{{subject.subjectName}}</td> 
            <td>{{subject.isActive}}</td>
           
           
            <td>
                <span *ngIf="authService.getUserId()==subject.createdByUserId">.</span>
                  <p-button  icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"  (click)="editSubject(subject)" *ngIf="(subject.canEdit$|async)"></p-button>
                <p-button  icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"  [disabled]="true"        *ngIf="!(subject.canEdit$|async)"></p-button>
             
                <p-button  icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" *ngIf="(subject.canDelete$|async)" (click)="deleteSubject(subject)" />
                <p-button  icon="pi pi-trash" class="mr-2" [rounded]="true" [outlined]="true"     *ngIf="!(subject.canDelete$|async)" [disabled]="true"></p-button>
           </td>
        </tr>
    </ng-template>
</p-table>


<p-confirmDialog></p-confirmDialog> 


 <!-- Dialog for User Details (Create/Edit Form) --> <!--width: '450px' -->
 <p-dialog [(visible)]="subjectDialog" [style]="{ width: '850px' }" [header]="dialogHeader" [modal]="true">

                <!--purposelynot kept inside ng-template-->
                <ng-template #content  ></ng-template>

                  <form [formGroup]="form" (ngSubmit)="onSubmit()"><!--(ngSubmit)="saveUser()"-->
                <formly-form [form]="form" [fields]="(formFields | async) ?? []" [model]="model"></formly-form>
                <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
                 <p-button type="submit">Submit</p-button>
                 </form>  
                                
                <!-- <ng-template #footer>
                    <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
                    <p-button label="Save" (click)="saveUser()"  icon="pi pi-check" /> 
                </ng-template> -->
       
    
</p-dialog>
