  model:{{model|json}}
  <div class="mt-2 space-y-2">

    <ng-container [ngSwitch]="model.question.questionTypeName">
    
       <div *ngSwitchCase="'MCQ-SingleCorrect'">

        <label class="form-label font-semibold">Select your answer:</label>
        <div *ngFor="let option of model.question.options; let i = index" class="flex items-center">
          
           
          <input
            type="radio"
            [id]="field.id + '-' + i"
            [name]="model.question.id"
            [value]="option.optionText"
            [checked]="formControl.value === option.optionText"
            (change)="formControl.setValue(option.optionText);"         
             class="h-4 w-4 text-indigo-600 border-gray-300 focus:ring-indigo-500"
          />
          <label [for]="field.id + '-' + i" class="ml-3 text-sm text-gray-700">
            {{ option.optionText }}
          </label><!-- --> 
        </div>
      </div>
   
      <div *ngSwitchCase="'MCQ-MultiCorrect'">
        <label class="form-label font-semibold">Select your answer:</label>
        <div *ngFor="let option of model.question.options; let i = index" class="flex items-center">
          <input
            type="checkbox"
            [id]="field.id + '-' + i"
            [value]="option.optionText"
            (change)="onCheckboxChange($event, option.optionText)"
            class="h-4 w-4 text-indigo-600 border-gray-300 focus:ring-indigo-500"
          />
          <label [for]="field.id + '-' + i" class="ml-3 text-sm text-gray-700">
            {{ option.optionText }}
          </label>
        </div>
      </div>
      


      <!-- Descriptive Answer      [formControl]="formControl"--> <!--   -->
      <div *ngSwitchCase="'Descriptive'">
        <label class="form-label font-semibold" [for]="field.id">Your answer:</label>
        <textarea
     
          [id]="field.id"
          (change)="onAnswerTextBoxChange($event, model.studentAnswerContent)"
          placeholder="Type your answer here..."
          rows="4"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        ></textarea>
      </div>

      <!-- Numerical Answer   [formControl]="formControl"-->
      <div *ngSwitchCase="'Numerical'">
        <label class="form-label font-semibold" [for]="field.id">Your answer:</label>
        <input
          type="number"
        
          [id]="field.id"
          placeholder="Enter a numerical value"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        />
      </div>


  
    </ng-container>




  </div>
  
  
<!--<div *ngSwitchDefault>
        <label class="form-label font-semibold">Enter your answer:</label>
        <input type="text" [formControl]="formControl">
      </div> -->