
<!--Header-->
<app-client-dashboard-header></app-client-dashboard-header>
  <!--Produc Catalog-->
<app-client-product-catalog></app-client-product-catalog>
<!--Order Mgt-->
<app-client-order-management></app-client-order-management>
<!--Billing & Account-->
<app-client-billing-account></app-client-billing-account>
<!--Promotions and rebate-->
<app-client-promotions></app-client-promotions>
<!--Customer support-->
<app-client-support-center></app-client-support-center>
<!--Notifications-->
<app-client-notifications></app-client-notifications>