<!--  fields:{{fields|json}} currOpMode:{{currOpMode}}{{model|json}}-->

 <!--*ngIf="currOpMode=='ADD' || currOpMode=='UPDATE'"-->
 <p-toast></p-toast>
<div  class="customer-container p-4" style="display: block; width: 100%;">
<div *ngIf="!fields || fields.length===0">
  spinner.......
</div>

<!--Filter component-->
<app-filter-control 
      [dataSource]="customers?customers:[]" 
      [filterFields]="['customerName', 'leadStatus']" 
      (filteredData)="onDataFiltered($event)">
    </app-filter-control>
<!--Filter component-->
 <form [formGroup]="form" pFluid  [class.hidden-form]="isFormHidden">
     
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
      
    
      <div class="customer-actions" *ngIf="currOpMode!=='VIEW'">
      <p-button
        
        type="button"
        label="Save Client"
        icon="pi pi-save"
        (click)="saveCustomer()"
       
        [disabled]="!form.valid">
      </p-button>
      <button
        pButton
        type="button"
        label="Clear Lead"
        icon="pi pi-times"
        (click)="clearCustomer()"
        class="p-button-secondary"
        style="margin-left: 0.5rem"
        >
      </button>
      <button
        pButton
        type="button"
        label="Cancel"
        icon="pi pi-times"
        (click)="CancelFormOp()"
        class="p-button-secondary"
        style="margin-left: 0.5rem"
         [disabled]="currOpMode!=='ADD'&& currOpMode!=='UPDATE'">
      </button>
      </div>

      <!--commented grid with edit button-->
    <div class="customer-section mb-4" *ngIf="customers?.length">
      <h3 class="text-lg font-semibold mb-2">Customers</h3>
      <p-table [value]="visibleDataArray?visibleDataArray:[]" class="customers-table">
        <ng-template pTemplate="header">
          <tr>
            <th width="50px"></th>
            <th>Customer</th>
             <th>LeadStatus</th>
            <th width="120px"></th>
            
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-acustomer let-rowIndex="rowIndex">
          <tr>
             <td>
              <button
                pButton
                type="button"
                icon="pi pi-pencil"
                class="p-button-rounded p-button-danger p-button-sm"
                (click)="onEditClick(acustomer)">
              </button>
            </td>
            <td>{{ acustomer.customerName }}</td>
           <td>{{ acustomer.clientStatus }}</td>
            
            
            <td>
              <button
                pButton
                type="button"
                icon="pi pi-trash"
                class="p-button-rounded p-button-danger p-button-sm"
                (click)="removeCustomer(rowIndex)">
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

 </form>
</div> 


<p-button *ngIf="currOpMode=='VIEW'"
    label="New Client" 
    icon="pi pi-plus" 
    (click)="Add()" 
   
    >
</p-button>

<!--search-->


<!--end search-->


<div class="card" *ngIf="currOpMode=='VIEW'" >
  <p-table  [value]="visibleDataArray || []"   dataKey="id"   [expandedRowKeys]="expandedRows"   >
    
  <ng-template pTemplate="header">
      <tr>
        <th style="width: 5rem"></th> 
        <!-- <th>ID</th> -->
         <th></th>
        <th>Person Name</th>
        <th>ClientStatus</th>
      </tr>
    </ng-template>
    
    <ng-template pTemplate="body" let-customer let-expanded="expanded">
      <tr>
        <td>
           <p-button 
            type="button" 
            pRipple 
            [pRowToggler]="customer" 
            [text]="true" 
            [rounded]="true" 
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
          </p-button>         
        </td>
        <td>
           <p-button 
            type="button" 
            pRipple 
            [pRowToggler]="customer" 
            [text]="true" 
            [rounded]="true"   (click)="onEditClick(customer)"
            [icon]="'pi pi-pencil'">
          </p-button>         
        </td>
        <!-- <td> {{customer.id}} </td> -->
        <td><strong>{{customer.customerName}}</strong> </td>
        <td>{{customer.clientStatus}} </td>
      </tr>
    </ng-template>
    
      <ng-template pTemplate="expandedrow" let-customer>
      <tr>
      <td colspan="4">
        <p-table *ngIf='customer && customer?.sites && customer?.sites.length' [value]="customer?.sites" dataKey="id" class="p-datatable-sm">
          <ng-template pTemplate="header">
            <tr>
              <th>Firm</th>
              <th>Category</th>
              <th>Contact Person</th>
              <th>Mobile</th>
              
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-org>
            <tr>
              <td>{{ org.organisationName }}</td>
              <td>{{ org.customerCategory }}</td>
              <td>{{ org.contactPersonName }}</td>
              <td>{{ org.mobileNumber }}</td>
              
            </tr>
          </ng-template>
        </p-table>
      </td>
    </tr>
    </ng-template>
    
  </p-table>
</div>