<div class="custom-formly-grid">
  
  <ng-container *ngFor="let fieldRow of field.fieldGroup; let i = index">
   
   
<ng-container *ngFor="let childField of fieldRow.fieldGroup">
 
  <ng-container *ngIf="!childField.hide">
    <formly-field [field]="childField" class="md:col-span-12"></formly-field>
  </ng-container>
</ng-container>
 
   
    <div class="col-span-2 md:col-span-1 delete-container">
      <button 
        type="button" 
        pButton 
        label="" 
        icon="pi pi-trash" 
        class="p-button-danger p-button-text text-sm "
        (click)="remove(i)">
      </button>
    </div>
  </ng-container>

  <div class="col-span-2 md:col-span-1 button-container">
    <button 
      type="button" 
      pButton 
      label="" 
      icon="pi pi-plus" 
      class="p-button-outlined"
      (click)="addNewItem()">
    </button>
  </div>
</div>
