<!-- Example using PrimeNG Chips (read-only tags) -->
<h3>Your Permissions</h3>
<p-chips [(ngModel)]="currentUserPermissions" [disabled]="true"></p-chips>

<!-- Example using PrimeNG Listbox -->
<div class="card">
    <p-listbox [options]="currentUserPermissions" ></p-listbox>
</div>

<p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>
    <div class="purchase-management-wrapper p-4">
      
      <!-- presentation grid display -->
      <app-purchase-grid 
        *ngIf="currOpMode === FormOpMode.View"
        [POs]="POs"
        [expandedRows]="expandedRows"
        (onAdd)="handleAdd()"
        (onEdit)="handleEdit($event)"
         (onDeleteClick)="onDeleteRequested($event)">
      </app-purchase-grid>

      <!-- interactive configuration form -->
      <app-purchase-form
        *ngIf="currOpMode !== FormOpMode.View"
        [model]="activeModel"
        [currOpMode]="currOpMode"
        [tenantId]="tenantId"
        (onSave)="handleSave($event)"
        (onFinalize)="handleFinalize($event)"
        (onApprove)="handleApprove($event)"
        (onCancel)="handleCancel()">
      </app-purchase-form>

    </div>