
 <!-- Dialog for User Details (Create/Edit Form) --> <!--width: '450px' -->
 <!--pending- its cut from below-->
 <!-- <p-dialog [(visible)]="assignmentSolvingDialog"  [style]="{ width: '850px' }" [header]="dialogHeader" [modal]="true">
</p-dialog> -->
    <!--purposelynot kept inside ng-template-->
    
    

    <ng-template #content  ></ng-template>
<div *ngIf="!SingleQuestionMode" > <!---->
      <form [formGroup]="form" (ngSubmit)="onSubmit()"><!--(ngSubmit)="saveUser()"-->
        <div *ngIf="remainingTime > 0" class="timer">
          Time Remaining: {{ remainingTime }} seconds
        </div>
    <formly-form [form]="form" [fields]="(formFields | async) ?? []" [model]="model"></formly-form>
    <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
     <p-button type="submit">Submit</p-button>
     </form>  
</div>

<div *ngIf="SingleQuestionMode">
  <div *ngIf="remainingTime > 0" class="timer">
    Time Remaining: {{ remainingTime }} seconds
  </div>
     <form [formGroup]="form_SingleQuestion" (ngSubmit)="onSubmit()"><!--(ngSubmit)="saveUser()"-->
      <formly-form [form]="form_SingleQuestion" [fields]="(formFields_SingleQuestion | async) ?? []" [model]="model_SingleQuestion"></formly-form>
      <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
       <p-button type="submit">Submit</p-button>
       </form>  
</div>

    <!-- <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" (click)="saveUser()"  icon="pi pi-check" /> 
    </ng-template> -->



  