
<p-toolbar styleClass="mb-4">
    <ng-template #start>
        <p-button label="New Enrollment" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()"
            *ngxPermissionsOnly="['user.create.Student', 'user.create.Faculty', 'user.create.InstituteAdmin',
                'user.create.StudentSolo', 'user.create.Assessor', 'user.create.ClassStudent']" />
    </ng-template>
    <ng-template #end>
        <p-button label="Export CSV" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>

<!-- PrimeNG Table for User Listing -->
<p-table #dt
    [value]="(enrolls$ | async) ?? []"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['studentProfile.person.firstName', 'studentProfile.person.lastName', 'program.programName']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} enrollments"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]">
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Enrollment</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="min-width: 3rem"></th>
            <th pSortableColumn="studentProfile.person.firstName" style="min-width: 5rem">
                Name
                <p-sortIcon field="studentProfile.person.firstName" />
            </th>
            <th pSortableColumn="studentProfile.studentIdNumber" style="min-width: 5rem">
                StudentID#
                <p-sortIcon field="studentProfile.studentIdNumber" />
            </th>
            <th pSortableColumn="enrollmentDate" style="min-width: 5rem">
                EnrollDate
                <p-sortIcon field="enrollmentDate" />
            </th>
            <th pSortableColumn="studentProfile.enrollmentStatus" style="min-width: 5rem">
                Status
            </th>
            <th pSortableColumn="program.programName" style="min-width: 5rem">
                Program
                <p-sortIcon field="program.programName" />
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-enroll>
        <tr>
            <td style="text-align:center;">
                <ng-container *ngIf="enroll.studentProfile?.person?.user?.profilePictureUrl; else defaultUserIcon">
                    <img [src]="enroll.studentProfile.person.user.profilePictureUrl" alt="User Avatar" class="profile-avatar" />
                </ng-container>
                <ng-template #defaultUserIcon>
                    <i class="pi pi-user"></i>
                </ng-template>
            </td>
            <td>{{ enroll.studentProfile?.person?.firstName }} {{ enroll.studentProfile?.person?.lastName }}</td>
            <td>{{ enroll.studentProfile?.studentIdNumber }}</td>
            <td>{{ enroll.enrollmentDate | date }}</td>
            <td>{{ enroll.studentProfile?.enrollmentStatus }}</td>
            <td>{{ enroll.program?.programName }}</td>
        </tr>
    </ng-template>
</p-table>

<!-- Dialog for Person Selection/Creation (opened when creating new user) -->
<p-dialog [(visible)]="personSelectionDialogVisible" [style]="{ width: '80vw', 'max-width': '900px' }" header="Select or Create Person" [modal]="true">
    <app-personlist
        [fromUserMgt]="true"
        [initialSearchCriteria]="initialPersonSearchCriteria"
        (personSelected)="onPersonSelected($event)">
    </app-personlist>
    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
    </ng-template>
</p-dialog>

<!-- Dialog for Enrollment Form -->
<p-dialog [(visible)]="userDialog" [style]="{ width: '850px' }" [header]="dialogHeader" [modal]="true">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <formly-form [form]="form" [fields]="(formFields | async) ?? []" [model]="model"></formly-form>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button type="submit" label="Submit" icon="pi pi-check" />
    </form>
</p-dialog>

<!-- Confirmation Dialog for Delete Operations -->
<p-confirmdialog [style]="{ width: '450px' }" />