<!-- fields:{{fields|json}} -->
<p-toast></p-toast><p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<div class="customer-container p-4" style="display: block; width: 100%;">

  <!--Filter component-->
  <app-filter-control 
    [dataSource]="categories ? categories : []" 
    [filterFields]="['categoryName']" 
    (filteredData)="onDataFiltered($event)">
  </app-filter-control>

  <form [formGroup]="form" pFluid [class.hidden-form]="isFormHidden">
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
    
    <div class="customer-actions" *ngIf="currOpMode !== 'VIEW'">
      <button
        pButton
        type="button"
        label="Save Category"
        icon="pi pi-save"
        (click)="saveCategory()"
        class="p-button-success"
        [disabled]="!form.valid">
      </button>
      <button
        pButton
        type="button"
        label="Clear Fields"
        icon="pi pi-times"
        (click)="clearCategory()"
        class="p-button-secondary"
        style="margin-left: 0.5rem">
      </button>
      <button
        pButton
        type="button"
        label="Cancel"
        icon="pi pi-times"
        (click)="CancelFormOp()"
        class="p-button-secondary"
        style="margin-left: 0.5rem"
        [disabled]="currOpMode !== 'ADD' && currOpMode !== 'UPDATE'">
      </button>
    </div>
  </form>
</div> 

<p-button *ngIf="currOpMode == 'VIEW'"
  label="New Category" 
  icon="pi pi-plus" 
  (click)="Add()">
</p-button>

<div class="site-section mb-0" *ngIf="categories?.length">
  <h3 class="text-lg font-semibold mb-2">Product Categories</h3>
  <p-table [value]="visibleDataArray ? visibleDataArray : []" class="vendors-table">
    <ng-template pTemplate="header">
      <tr>
        <th width="50px"></th>
        <th>Category Name</th>
        <th>Description</th>
        <th>Default HSN Code</th>
        <th width="120px"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cat let-rowIndex="rowIndex">
      <tr>
        <td>
          <button
            pButton
            type="button"
            icon="pi pi-pencil"
            class="p-button-rounded p-button-danger p-button-sm"
            (click)="onEditClick(cat)">
          </button>
        </td>
        <td>{{ cat.categoryName }}</td>
        <td>{{ cat.description }}</td>
        <td>{{ cat.defaultHsnTaxRule?.hsnCode || 'None Assigned' }}</td>
        <td>
          <button
            pButton
            type="button"
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger p-button-sm"
            (click)="removeCategory(cat)">
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
