

<!-- 🚀 True synchronization between parent and child component states -->
<app-button-tabs [options]="myTabConfig" [(activeTabId)]="activeTab">
  
    <ng-template appTab="Quotations">
         <app-quotation-mgr></app-quotation-mgr>
    </ng-template> 
    
    <ng-template appTab="received_clientRFQs">
       <app-client-rfq-mgr 
       [isWholesalerView]="true"
           [isWholesalerView]="true" 
           [allowedStatuses]="['SUBMITTED']">
       </app-client-rfq-mgr>
    </ng-template> 
    
    <ng-template appTab="clientRFQs_ApprovalPending">
       <app-client-rfq-mgr 
           [isWholesalerView]="true" 
           [allowedStatuses]="['PENDING_APPROVAL']">
       </app-client-rfq-mgr>
    </ng-template> 

</app-button-tabs>
