
<p-toast></p-toast> <!-- PrimeNG Toast for messages -->

<p-toolbar styleClass="mb-4" >
   
    <ng-template #start> 
      <div *ngIf="selectedProgram"><!--pendng- directly used *ngIf on div but we need disabled property to use here-->
            <p-button   label="New Course" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" 
            *ngxPermissionsOnly="['programcourse.create',]"                                                           
            />
      </div>
    </ng-template>

    <ng-template #end>
        <p-button label="Export CSV" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar> 



<div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
    <div class="col-span-1">
      <p-card header="Programs">
        <p-table 
          #masterTable 
          [value]="(programs$ | async) ?? []" 
          [columns]="cols"
          [paginator]="true"
          [rows]="10"
          selectionMode="single" 
          [(selection)]="selectedProgram"
          dataKey="id"
          (onRowSelect)="onProgramSelect($event)"
          [tableStyle]="{ 'min-width': '50rem' }"
          [rowHover]="true"
        >
          <ng-template pTemplate="caption">
            <div class="flex items-center justify-between">
              <h5 class="m-0">Program List</h5>
              <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(masterTable, $event)" placeholder="Search..." />
              </p-iconfield>
            </div>
          </ng-template>
  
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" pSortableColumn="{{ col.field }}">
                {{ col.header }}
                <p-sortIcon field="{{ col.field }}" />
              </th>
            </tr>
          </ng-template>
  
          <ng-template pTemplate="body" let-program let-columns="columns">
            <tr [pSelectableRow]="program">
              <td *ngFor="let col of columns">
                {{ program[col.field] }}
              </td>
            </tr>
          </ng-template>
          
          <ng-template pTemplate="emptymessage">
              <tr>
                  <td [attr.colspan]="cols.length">No programs found.</td>
              </tr>
          </ng-template>
  
        </p-table>
      </p-card>
    </div>
  
    <div class="col-span-1">
      <p-card [header]="selectedProgram ? 'Courses for ' + selectedProgram.programName : 'Select a Program'">
        <div *ngIf="selectedProgram; else noProgramSelected">
          <p-table 
            [value]="(selectedProgramCourses$ | async) ?? []" 
            [columns]="courseCols"
            [tableStyle]="{ 'min-width': '50rem' }"
            [rowHover]="true"
          >
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" pSortableColumn="{{ col.field }}">
                  {{ col.header }}
                  <p-sortIcon field="{{ col.field }}" />
                </th>
              </tr>
            </ng-template>
  
            <ng-template pTemplate="body" let-programcourse let-columns="columns">
              <tr>
                <td> {{programcourse.course.courseName}}</td>
                <td> {{programcourse.orderInProgram}}</td>
              </tr>
            </ng-template>
            
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td [attr.colspan]="courseCols.length">No courses found for this program.</td>
                </tr>
            </ng-template>
          </p-table>
        </div>
        <ng-template #noProgramSelected>
          <div class="text-center p-4 text-gray-500">
            <p>Please select a program from the list to view its courses.</p>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
<p-confirmDialog></p-confirmDialog> 


<p-confirmDialog></p-confirmDialog> 

 <!-- Dialog for User Details (Create/Edit Form) --> <!--width: '450px' -->
 <p-dialog [(visible)]="ProgramCourseDialog" [style]="{ width: '450px' }" [header]="dialogHeader" [modal]="true">

              
                <ng-template #content  ></ng-template>

                  <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <formly-form [form]="form" [fields]="(formFields | async) ?? []" [model]="model"></formly-form>
                
                <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
                 <p-button type="submit">Submit</p-button>
                 </form>  
               aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
               aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
               aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
               aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
               aaaaaaaaaaaaaaaaaaa
                <ng-template #footer>
                    <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
                    <p-button label="Save"  icon="pi pi-check" /> <!--(click)="saveUser()" -->
                </ng-template> 
       
    
</p-dialog>